<div class="mt-4">
    <form method="post" action="">
        <div class="form-group">
            <label for="search-input">Keywords</label>
            <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp" placeholder="Enter keywords">
        </div>

        <div class="form-group">
            <label for="gender-input">Gender</label>
            <select type="text" name="gender" class="form-control" id="gender-input" aria-describedby="emailHelp">
                <option value="">--Choose gender--</option>
                <option value="male">Male</option>
                <option value="female">FeMale</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>